Values can be grouped together into collections, which allows programmers to organize those values and refer to all of them with a single name. The most common way to group together values is by placing them in a list, which is expessed by separating elements using commas within square brackets. After a comma, it's okay to start a new line. Below, we collect four different `years` and the corresponding average world temperature over land (in degrees Celsius) in the decade leading up to each year. \footnote{http://berkeleyearth.lbl.gov/regions/global-land}

In [2]:
years = [1850, 1900, 
         1950, 2000]
temps = [8.1, 8.3, 8.7, 9.4]

The elements of these lists can be accessed within expressions, also using square brackets. Each element has an index, starting at 0. Once accessed, these values can be placed into other lists. The expression below gives us a list of the growth rates for each 50 year period. Not only is the world land temperature increasing, but its growth rate is increasing as well.

In [4]:
[(temps[1]-temps[0])/temps[0], 
 (temps[2]-temps[1])/temps[1], 
 (temps[3]-temps[2])/temps[2]]

[0.024691358024691492, 0.04819277108433717, 0.08045977011494265]

**Tuples.** Values can also be grouped together into *tuples* in addition to *lists*. A tuple is expressed by separating elements using commas within parentheses: `(1, 2, 3)`. In many cases, lists and tuples are interchangeable.